* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Quicksand", Arial;
  font-size: 1.4rem;
  line-height: 1.5;
}

/* Common */
.content {
  width: 1140px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.heading {
  margin-top: 40px;
  text-align: center;
}

.heading .title {
  position: relative;
  font-size: 34px;
  text-transform: uppercase;
  padding-bottom: 34px;
}

.heading .title::before {
  content: "";
  height: 22px;
  width: 69px;
  background-image: url(/assets/img/bg_title.png);
  position: absolute;
  bottom: 0;
  left: 47%;
}

.heading .text-gradient {
  background: -webkit-linear-gradient(35deg, #91ad41 0%, #ff8a6c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a {
  text-decoration: none;
}

.list-product {
  margin-top: 20px;
  display: flex;
  gap: 30px;
  flex: 1;
}

.product {
  position: relative;
  width: 262.5px;
  border: 1px solid #f5f6fb;
  transition: all 0.5s;
}

.product:hover {
  transition: all 0.5s;
  -moz-box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.12);
}

.product .thumb {
  position: relative;
  display: block;
  padding: 35px 0;
}

.product:hover .thumb .image {
  height: 100%;
  object-fit: scale-down;
}

.product .thumb::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  opacity: 0;
}

.product:hover .thumb::before {
  opacity: 0.5;
}

.product .image {
  width: 100%;
}

.product:hover .group-action {
  display: block;
}

.product .info {
  font-weight: 700;
  text-align: center;
  padding: 25px;
  background: #f5f6fb;
}

.product .name {
  line-height: 22px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.product .name a {
  color: #000;
}

.product .value {
  font-size: 15px;
  color: #91ad41;
}

.group-action {
  position: absolute;
  top: 55%;
  left: 36%;
  display: none;
}

.group-action .link:hover i {
  border-radius: 50%;
  background-color: #91ad41;
}

.group-action .link {
  display: inline-block;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0px 2px 21px rgba(0, 0, 0, 0.12);
  opacity: 0.9;
  color: #000;
  text-align: center;
}

.group-action .link i {
  height: 40px;
  width: 40px;
  line-height: 40px;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  height: 120px;
}

.fixed {
  position: fixed;
  right: 0;
  left: 0;
  animation: stuckMoveDown 0.6s;
  z-index: 1;
  background-color: #fff;
  box-shadow: 1px 1px 10px rgb(0 0 0 / 15%);
}

.header .body {
  display: flex;
  align-items: center;
  padding: 0 15px;
}
.header .logo {
  padding: 0 15px;
}

.nav ul {
  display: flex;
}

.nav li {
  position: relative;
}

.nav > ul > li > a {
  padding: 15px 15px;
}

.nav li a {
  color: #000;
}

.nav > ul > li:hover > a {
  color: #91ad41;
}

.nav > ul > li:hover .sub-nav {
  display: flex;
}

.nav li .icon {
  font-size: 12px;
}

.nav .sub-nav {
  display: none;
  top: calc(100% + 16px);
  left: 0;
  position: absolute;
  flex-direction: column;
  box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
  background-color: #fff;
  z-index: 1;
  animation: NavFadeIn ease 0.5s;
}
.nav .sub-nav li {
  padding: 12px 15px;
  min-width: 170px;
  border-bottom: 1px solid #f4f4f4;
}

.nav .sub-nav li:hover a {
  color: #91ad41;
}

.nav .sub-nav a {
  white-space: nowrap;
}

.header .action {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header .action .icon {
  font-size: 1.85rem;
  line-height: 50px;

  color: #000;
}

.header .action .icon:nth-child(2) {
  margin: 0 20px;
  position: relative;
}

.header .action .icon:first-child {
  position: relative;
}

.header .quantity {
  top: 0;
  right: -12px;
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  background-image: -webkit-linear-gradient(35deg, #91ad41 0%, #ff8a6c 100%);
  border-radius: 50%;
  color: #fff;
  font-weight: 700;
  font-size: 1.2rem;
}

.header .icon .link {
  color: #000;
}

.header .minicart {
  display: none;
  position: absolute;
  text-align: center;
  font-size: 1.4rem;
  width: 228px;
  line-height: 21px;
  padding: 15px 0;
  margin: 0 15px;
  top: 50px;
  right: -55px;
  background: #fff;
  color: #212529;
  box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  border: 1px solid #91ad41;
  z-index: 2;
  min-width: 260px;
}

.header .icon:hover:first-child .minicart {
  display: block;
}

.header .group-btn {
  display: none;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 200px;
  background: #fff;
  position: absolute;
  top: 50px;
  right: -55px;
  z-index: 10;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #91ad41;
  box-shadow: 0px 10px 27px 12px rgba(0, 0, 0, 0.05);
}

.header .group-btn .btn {
  font-size: 1.4rem;
  display: block;
  height: 38px;
  line-height: 32px;
  text-align: center;
  border: solid 1px #ebebeb;
  border-radius: 25px;
  margin-bottom: 5px;
}

.header .action .icon:hover:nth-child(2) .group-btn {
  display: flex;
}

.header .group-btn .sign-in {
  color: #fff !important;
  background-image: -moz-linear-gradient(
    35deg,
    #91ad41 0%,
    #ff8a6c 100%
  ) !important;
  background-image: -webkit-linear-gradient(
    35deg,
    #91ad41 0%,
    #ff8a6c 100%
  ) !important;
  background-image: -ms-linear-gradient(
    35deg,
    #91ad41 0%,
    #ff8a6c 100%
  ) !important;
}

.header .group-btn .sign-in:hover {
  background: #91ad41 !important;
}

.header .group-btn .sign-up:hover {
  color: #fff;
  background: #91ad41 !important;
}

.header .group-btn .sign-up {
  color: #000;
}

.header .action .icon:nth-child(3) {
  position: relative;
}

.header .action .search {
  display: none;
  width: 250px;
  height: 40px;
  line-height: 40px;
  position: absolute;
  top: 45px;
  right: -10px;
  z-index: 2;
}

.header .action .icon:hover.icon:nth-child(3) .search {
  display: block;
}

.header .action .group-form {
  width: 100%;
  margin: 0;
  padding: 0;
}

.header .action .form-control {
  font-size: 1.6rem;
  color: #fff;
  font-family: "Quicksand", Arial;
  width: 100%;
  height: 40px;
  line-height: 30px;
  border: none;
  background: -webkit-linear-gradient(35deg, #91ad41 0%, #ff8a6c 100%);
  border-radius: 20px;
  padding: 0 40px 0 15px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.header .action .form-control::placeholder {
  color: #fff;
  font-weight: 400;
}

.header .action .form-control:focus {
  outline: none;
}

.header .action .btn-search {
  font-size: 1.6rem;
  color: #fff;
  height: 40px;
  box-shadow: none;
  border: none;
  background: 0 0;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 10px;
}

.banner {
  min-width: 100%;
}

.banner-img {
  width: 100%;
  display: block;
}

.list-fruit {
  display: flex;
  flex: 1;
}

.list-fruit .item {
  padding: 25px 50px 25px 75px;
  display: flex;

  position: relative;
  width: 25%;
  height: 350px;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 50% auto;
}

.list-fruit .item::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -ms-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.list-fruit .item:hover::before {
  opacity: 1;
}

.list-fruit .item.nth-1 {
  background-color: #59cca6;
}

.list-fruit .item.nth-2 {
  background-color: #91ad41;
}
.list-fruit .item.nth-3 {
  background-color: #e3b375;
}
.list-fruit .item.nth-4 {
  background-color: #ef7f94;
}

.list-fruit .wrap-info {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: absolute;
  color: #fff;
  left: 74px;
  bottom: 5px;
  width: 60%;
}

.list-fruit .wrap-info .title {
  font-size: 2.5rem;
}

.list-fruit .wrap-info .title:hover {
  color: #91ad41;
}

.list-fruit .wrap-info .desc {
  margin-top: 30px;
}

.list-fruit .wrap-info .btn {
  margin-top: 30px;
  color: #fff;
  display: inline-block;
  border-radius: 5px;
  height: 45px;
  line-height: 45px;
  margin-bottom: 10px;
  background: #27272f;
  padding: 0 25px;
  border: none;
}

.list-fruit .wrap-info .btn:hover {
  background-color: #91ad41;
  transition: ease 0.3s;
}

.heading {
  margin-top: 40px;
  text-align: center;
}

.heading .title {
  position: relative;
  font-size: 34px;
  text-transform: uppercase;
  padding-bottom: 34px;
}

.heading .title::before {
  content: "";
  height: 22px;
  width: 69px;
  background-image: url(/assets/img/bg_title.png);
  position: absolute;
  bottom: 0;
  left: 47%;
}

.heading .text-gradient {
  background: -webkit-linear-gradient(35deg, #91ad41 0%, #ff8a6c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heading .desc {
  color: #8b8b99;
  padding: 0 150px;
  margin-top: 15px;
}

.section-list {
  margin-top: 15px;
  display: flex;
  gap: 30px;
  flex: 1;
}

.section-list .item {
  text-align: center;
}

.section-list .item .thumb {
  max-width: 100%;
  width: 135px;
  height: 100%;
  object-fit: scale-down;
}

.section-list .body .title {
  margin-top: -20px;
  font-size: 18px;
  font-weight: 700;
}

.section-list .body .desc {
  margin-top: 12px;
}

.top-sell {
  margin-top: 100px;
}

.product-catetory .product-btn {
  margin-top: 32px;
  display: inline-block;
  padding: 8px 16px;
  border: 1px solid #e7e9f3;
  border-radius: 30px;
  background: #91ad41;
  color: #000;
}

.product-catetory .product-btn:hover {
  color: #fff;
}

.product-catetory .list-product {
  margin-top: 35px;
}

.hotline-banner {
  margin-top: 30px;
  text-align: center;

  background-attachment: fixed;
  background-size: cover;
  padding: 80px 0px;
  background-position: center center;
}

.hotline-banner .info {
  max-width: 470px;
  display: inline-block;
  color: rgb(255, 255, 255);
}

.hotline-banner .title {
  font-weight: 500;
  font-size: 3.2rem;
}

.hotline-banner .number {
  display: inline-block;
  margin-top: 25px;
  font-size: 4.8rem;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.hotline-banner .desc {
  margin-top: 30px;
}

.news .list-item {
  margin-top: 25px;
  display: flex;
  gap: 30px;
  flex: 1 1 0%;
}

.news .item {
  width: 33.33%;
}

.news .item:hover {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 12px 16px;
  transition: all 0.3s ease 0s;
}

.news .card {
  position: relative;
  text-align: center;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.news .thumb {
  display: block;
  width: 360px;
  height: 322px;
}

.news .thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.news .source {
  position: absolute;
  bottom: 0px;
  opacity: 0.95;
  font-size: 12px;
  width: 100%;
  background: rgb(255, 255, 255);
  padding: 10px 0px;
}

.news .source i {
  padding-right: 5px;
}

.news .source b {
  font-size: 12px;
  color: rgb(145, 173, 65);
  font-weight: bolder;
}

.news .info {
  text-align: center;
  padding: 25px;
  background: rgb(245, 246, 251);
}

.news .info .head {
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-size: 1.6rem;
}

.news .info .head:hover {
  color: rgb(145, 173, 65);
}

.news .info .desc {
  margin-top: 10px;
  font-size: 13px;
  color: rgb(112, 112, 112);
  cursor: default;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.list-brands {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  padding: 0px 30px;
}

.list-brands .brand {
  display: block;
  width: 130px;
}

.list-brands .brand img {
  display: block;
  width: 100%;
}

.footer .row-top {
  margin-top: 40px;
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: rgba(232, 218, 199, 0.6);
  border-top: 1px solid rgb(232, 218, 199);
}

.footer .row-top .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: 2.8rem;
}

.footer .row-top .input-group {
  width: 47.3%;
  display: flex;
}

.footer .row-top .control {
  font-size: 1.6rem;
  width: 100%;
  line-height: 1.6;
  color: rgb(73, 80, 87);
  background-color: rgb(255, 255, 255);
  background-clip: padding-box;
  border-radius: 20px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  padding: 6px 12px;
}

.footer .row-top .control:focus {
  z-index: 3;
  outline: none;
}

.footer .row-top .btn-sign-up {
  display: block;
  white-space: nowrap;
  height: 100%;
  color: rgb(255, 255, 255);
  font-size: 14px;
  margin-left: -25px;
  z-index: 1;
  cursor: pointer;
  padding: 0px 20px;
  background: -webkit-linear-gradient(
    35deg,
    rgb(145, 173, 65) 0%,
    rgb(255, 138, 108) 100%
  );
  border-radius: 20px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
}

.footer .row-top .btn-sign-up:hover {
  color: rgb(255, 255, 255);
  background: rgb(145, 173, 65);
}

.footer .row-middle {
  padding-top: 40px;
  display: flex;
  width: 100%;
  flex: 1 1 0%;
}
.footer .col:first-child {
  width: 31.6%;
  margin: 0px;
}

.footer .col {
  width: 22.8%;
  margin-top: 20px;
  padding: 0px 15px;
}

.footer .col .wrap-info {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.footer .col .wrap-info .icon {
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  color: rgb(145, 173, 65);
  margin-right: 5px;
  background: rgb(255, 255, 255);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(145, 173, 65);
  border-image: initial;
  border-radius: 50%;
}

.footer .col .title {
  font-size: 1.6rem;
  color: rgb(0, 0, 0);
  font-weight: 700;
  margin-bottom: 22px;
  text-transform: uppercase;
  padding: 0px 15px;
}

.footer .col .list {
  padding: 0px 15px;
}

.footer .col .list li {
  line-height: 32px;
}

.footer .list .link {
  color: rgb(0, 0, 0);
}

.footer .list .link:hover {
  color: rgb(145, 173, 65);
}

.row-bottom {
  line-height: 50px;
  background-color: rgba(232, 218, 199, 0.6);
}

.row-bottom .text-center {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.row-bottom .text-center .link {
  display: inline-block;
  font-weight: 700;
  font-size: 13px;
  color: rgb(196, 32, 38);
}

@keyframes NavFadeIn {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes stuckMoveDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
